<h3>Welcome <%= @groomsman.name.capitalize %> </h3>

In order to prove your worth you must answer the following questions correctly.


Question 1:

<%= @groomsman.question1 %>


Question 2:

<%= @groomsman.question2 %>


Question 3:

<%= @groomsman.question3 %>


Question 4:

<%= @groomsman.question4 %>


Question 5:

<%= @groomsman.question5 %>
